<!-- wp:velocity/topbar /-->

<!-- wp:group {"className":"vf-header","backgroundColor":"primary","textColor":"di-primary","style":{"spacing":{"padding":{"top":"0.7rem","bottom":"0.7rem"}},"elements":{"link":{"color":{"text":"var:preset|color|di-primary"}}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group vf-header has-di-primary-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:0.7rem;padding-bottom:0.7rem"><!-- wp:group {"align":"wide","className":"vf-header__bar","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide vf-header__bar"><!-- wp:site-logo {"width":170,"shouldSyncIcon":false} /-->

<!-- wp:site-title {"level":0,"className":"vf-nama-situs"} /-->

<!-- wp:navigation {"overlayBackgroundColor":"primary","overlayTextColor":"di-primary","className":"vf-nav","layout":{"type":"flex","justifyContent":"right"}} /-->

<!-- wp:search {"label":"Cari","showLabel":false,"placeholder":"Cari tulisan…","buttonText":"Cari","buttonPosition":"button-only","buttonUseIcon":true,"className":"vf-cari"} /-->

<!-- wp:buttons {"className":"vf-header__aksi"} -->
<div class="wp-block-buttons vf-header__aksi"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/hubungi-kami/">Hubungi Kami</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
