<!-- wp:group {"className":"vf-samping","layout":{"type":"default"}} -->
<div class="wp-block-group vf-samping"><!-- wp:group {"className":"vf-kotak","layout":{"type":"default"}} -->
<div class="wp-block-group vf-kotak"><!-- wp:group {"className":"vf-rubrik-bar","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group vf-rubrik-bar"><!-- wp:heading -->
<h2 class="wp-block-heading">Terpopuler</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:velocity/populer /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"vf-kotak","layout":{"type":"default"}} -->
<div class="wp-block-group vf-kotak"><!-- wp:group {"className":"vf-rubrik-bar","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group vf-rubrik-bar"><!-- wp:heading -->
<h2 class="wp-block-heading">Kategori</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:categories {"showPostCounts":true,"className":"vf-daftar-rubrik"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"vf-kotak","layout":{"type":"default"}} -->
<div class="wp-block-group vf-kotak"><!-- wp:group {"className":"vf-rubrik-bar","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group vf-rubrik-bar"><!-- wp:heading -->
<h2 class="wp-block-heading">Tentang Kami</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"velocity/situs","args":{"key":"tentang"}}}}} -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="/tentang-kami/">Selengkapnya →</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
